APP_ENV=education
DATABASE_URL=postgresql+psycopg2://team_edu_master:password@127.0.0.1:5432/team_edu
DB_SCHEMA=mcolors
USE_IN_MEMORY_REPOSITORY=false
CLOUD_SQL_HOST=127.0.0.1
CLOUD_SQL_DB=team_edu
CLOUD_SQL_USER=team_edu_master
CLOUD_SQL_PASSWORD=password_here
CLOUD_SQL_CONNECTION_NAME=lgcns-lgeus-bliiling-dashboard:asia-northeast3:team-edu-dev
